body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when  to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {           /* text area width */
    /*text-align:center;*/
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform:uppercase;
}

#header {
    text-align: center;
    font-size: 24px; 
}

#hall {
    position: relative;
    bottom: 6px;
}

.buttons {
    top: 10px;
    font-size: 45px; 
}

.showInline{
    display: inline;
}

.fav-heart{
    float: right;
    padding-left: 5px;
}

.list-item{
    font-size: 22px; 
    border: none;
}

.zone {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 22px; 
    background-color: #872D62;
    color: white;
}

#meal-info {
    margin-top: 20px;
}

#numberLiked{
    background-color: rgba(214, 155, 24, 0.94);
    color: white;
    font-size: 16px;
    text-align: center;
}

#likedInfo {
    margin-top: 5px;
}

.customLabel {
    margin-left: 10px;
    margin-top: 10px;
    padding: 7px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block !important;
}

.customRed{
    color: #e81c4f;
}

.color1 {
    background-color: #AB47BC;
}

.color2 {
    background-color: #EC407A;
}

.color3 {
    background-color: #EF6C00;
}

.color4 {
    background-color: #795548;
}

.color5 {
    background-color: #43A047;
}

.color6 {
    background-color: #D5B331;
}

